@font-face {
	font-family: 'vgm-icons';
	src:url($base-path + '/fonts/vgm-icons.eot');
	src:url($base-path + '/fonts/vgm-icons.eot?#iefix') format('embedded-opentype'),
		url($base-path + '/fonts/vgm-icons.ttf') format('truetype'),
		url($base-path + '/fonts/vgm-icons.woff') format('woff'),
		url($base-path + '/fonts/vgm-icons.svg#vgm-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
// @font-face {
// 	font-family: 'Open Sans';
// 	src:url($base-path + '/fonts/OpenSans-Regular.ttf');
// }
// @font-face {
// 	font-family: 'Open Sans Condensed';
// 	src:url($base-path + '/fonts/OpenSans-CondBold.ttf');
// 	font-weight: 700;
// }
[class*="icon-"] {
	position: relative;
	&:before {
		font-family: 'vgm-icons';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		float: left;
    // font-size: 2em;
    // line-height: .5em;
    // margin-top: .1em;
    // margin-bottom: -.1em;
		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
.icon-truck:before {
	content: "\e600";
}
.icon-phone:before {
	content: "\e601";
}
.icon-lock:before {
	content: "\e602";
}
.icon-menu:before {
	content: "\e603";
}
.icon-left:before {
	content: "\e604";
}
.icon-down:before {
	content: "\e605";
}
.icon-users:before {
	content: "\e606";
}
.icon-briefcase:before {
	content: "\e607";
}
.icon-stats:before {
	content: "\e608";
}
.icon-cart:before {
	content: "\e609";
}
.icon-broom:before {
	content: "\e60a";
}
.icon-googleplus:before {
	content: "\e60b";
}
.icon-twitter:before {
	content: "\e60c";
}
.icon-facebook:before {
	content: "\e60d";
}
.icon-youtube:before {
	content: "\e60e";
}
.icon-link:before {
	content: "\e60f";
}
.icon-info:before {
	content: "\e610";
}
.icon-question:before {
	content: "\e611";
}
.icon-user:before {
	content: "\e612";
}
.icon-contact:before {
	content: "\e613";
}
.icon-mobile:before {
	content: "\e614";
}
.icon-cog:before {
	content: "\e615";
}
.icon-clipboard:before {
	content: "\e616";
}
.icon-credit:before {
	content: "\e617";
}
.icon-starburst:before {
	content: "\e618";
}
.icon-coin:before {
	content: "\e619";
}
.icon-calendar:before {
	content: "\e61a";
}
.icon-home:before {
	content: "\e61b";
}
.icon-products:before {
	content: "\e61c";
}
.icon-send:before {
	content: "\e61d";
}
.icon-checkmark:before {
	content: "\e61e";
}
.icon-enter:before {
	content: "\e61f";
}
.icon-up:before {
	content: "\e620";
}
.icon-right:before {
	content: "\e621";
}
.icon-book:before {
	content: "\e622";
}
$icon-checkmark: "\e61e";
$icon-link: "\e60f";
