.hero {
  min-height: 17.5em;
}
.hero-subtitle {
  margin: 0 0 .5em;
}
.hero-title {
  @extend .hero-subtitle;
  font-size: 2.5em;
}
// .hero img {
//   width: 50%;
//   max-width: 20em;
//   float: left;
//   margin: 0 1em .5em 0;
//   border-radius: $image-border-radius;
// }
.hero-image {
  @extend .center;
  position: relative;
  width: 100%;
  overflow: hidden;
  float: left;
  margin: 0 1em .5em 0;
  // Keeps it 1:1
  &:before {
    content: '';
    display: block;
    padding-top: 50%;
  }
  img {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    opacity: 0;
  }
  .image {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url($base-path + '/img/man-at-computer.jpg') no-repeat top center;
    background-size: cover;
    border-radius: $image-border-radius;
    &.product { background-image: url($base-path + '/img/man-on-phone.jpg'); }
    &.cleaning { background-image: url($base-path + '/img/woman-at-computer.jpg'); }
    &.field { background-image: url($base-path + '/img/man-at-window.jpg'); }
    &.scheduling {  background-image: url($base-path + '/img/scheduling-capability.jpg'); }
    &.card { background-image: url($base-path + '/img/credit-card-processing.jpg'); }
    &.customer {  background-image: url($base-path + '/img/customer-relationship-management.jpg'); }
    &.electrical { background-image: url($base-path + '/img/electrical.jpg'); }
    &.plumbing { background-image: url($base-path + '/img/plumbing.jpg'); }
    &.hvac { background-image: url($base-path + '/img/hvac.jpg'); }
    &.landscaping { background-image: url($base-path + '/img/landscaping.jpg'); }
    &.pet-care { background-image: url($base-path + '/img/pet-care.jpg'); }
    &.pool-service { background-image: url($base-path + '/img/pool-service.jpg'); }
  }
  @media screen and (min-width: $mq-text-small) {
    max-width: 15em;
    &:before {
      padding-top: 100%;
    }
  }
  @media screen and (min-width: $mq-text-med) {
    width: 40%;
    margin-bottom: 0;
  }
  @media screen and (min-width: $mq-nav-large) {
    width: 15em;
  }
}
.hero-text {
  max-width: none;
}
