.guide-main {
  // Go all flexboxy
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@-moz-document url-prefix() { 
  .guide-main { display: block; }
}
.center {
  text-align: center;
}
.tagline-section {
  width: 100%;
}
.tagline {
  margin: 0;
  text-align: center;
}

.copyright {
  padding: 0 0 1.5em;
  text-align: center;
  p {
    max-width: none;
    margin: 0
  }
}
.two-up {
  @media screen and (min-width: $mq-text-large) {
    width: 50%;
    width: calc(50% - .625em);
    &:nth-child(odd) {
      margin-right: 1.25em;
    }
  }
}
.three-up {
  @media screen and (min-width: $mq-text-small) {
    float: left;
    width: 50%;
    width: calc(50% - .375em);
    margin-top: 0;
    &:nth-child(odd) {
      margin-right: .75em;
    }
  }
  @media screen and (min-width: $mq-text-med) {
    width: calc(50% - .5em);
    &:nth-child(odd) {
      margin-right: 1em;
    }
  }
  @media screen and (min-width: $mq-text-large) {
    width: calc(50% - .625em);
    &:nth-child(odd) {
      margin-right: 1.25em;
    }
  }
  @media screen and (min-width: $mq-nav-large) {
    width: 33%;
    width: calc(32.9% - .625em);
    &:nth-child(even), &:nth-child(odd) {
      margin-right: 1.25em;
    }
    &:nth-child(3n-1) {
      margin-right: 0;
    }
  }
}
.four-up {
  @media screen and (min-width: $mq-text-small) {
    width: 50%;
    width: calc(50% - .625em);
    &:nth-child(odd) {
      margin-right: 1.25em;
    }
  }
  @media screen and (min-width: 79em) {
    width: 25%;
    width: calc(24.5% - .625em);
    &:nth-child(even) {
      margin-right: 1.25em;
    }
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
