.page {
  @include flex;
  min-height: 100%;
  @include flex-direction(column);
}
.guide-main {
  // Go all flexboxy
  @include flex;
  @include flex-wrap;
  @include justify-content(space-between, justify);
  @include align-content;
  @include flex-child(1 0 auto);
  @include align-self(center, center);
}
@-moz-document url-prefix() {
  .page, .guide-main, .video-grid { display: block; }
}
.center {
  text-align: center;
}
.tagline-section {
  width: 100%;
}
.tagline {
  margin: 0;
  text-align: center;
}

.copyright {
  padding: .5em 0 1.5em;
  text-align: center;
  p {
    max-width: none;
    margin: .5em 0 0;
  }
}
.one-up {
  width: 100%;
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
}
.two-up {
  @media screen and (min-width: $mq-nav-large) {
    width: 50%;
    width: calc(50% - .625em);
  }
}
.three-up {
  @media screen and (min-width: $mq-text-small) {
    width: 50%;
    width: calc(50% - .375em);
    margin-top: 0;
  }
  @media screen and (min-width: $mq-text-med) {
    width: calc(50% - .5em);
  }
  @media screen and (min-width: $mq-text-large) {
    width: calc(50% - .625em);
  }
  @media screen and (min-width: $mq-nav-large) {
    width: 33%;
    width: calc(32.9% - .625em);
  }
}
.four-up {
  @extend .three-up;
  @media screen and (min-width: $mq-nav-large) {
    width: calc(50% - .5em);
  }
  @media screen and (min-width: 79em) {
    width: 25%;
    width: calc(24.5% - .625em);
  }
}
