// Navigation
nav {
  padding-top: .25em;
  background-color: $nav-bg;
  background-image: $nav-bg-gradient;
  text-align: center;
}
nav > ul {
  list-style-type: none;
  margin: 0; padding: 0;
  display: inline-block;
  max-width: 75%;
  & > li { 
    display: none;
    margin: 0; padding: 0;
    &.menu { display: inline-block; }
    @media screen and (min-width: $mq-nav-large) {
      display: inline-block;
      &.menu { display: none; }
    }
  }
  &.expanded > li { display: inline-block; }
}
.nav-link {
  display: inline-block;
  width: 2.5em;
  margin: .25em; padding: .5em .75em;
  text-decoration: none;
  font-family: $headline-font;
  font-size: 1.25em;
  background-color: $nav-color;
  @include background-image($nav-gradient);
  color: $nav-text;
  box-shadow: $nav-shadow;
  border: $nav-border;
  border-radius: $nav-border-radius;
  // Hide actual text
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  &:before {
    text-indent: 0;
    float: left;
    // margin-top: .3em;
    font-size: 1em;
  }
  &:hover, &.active, &.current {
    background-color: $nav-hover;
    @include background-image($nav-gradient-hover);
    color: $nav-text-hover;
  }
  .expanded &, &.text {
    width: auto;
    text-indent: 0;
    &:before { 
      margin-right: .5em;
      float: none;
    }
  }
  // Removing to fix bug with buttons getting too tall when icon-only
  // @media screen and (min-width: $mq-text-med) {
  //   &:before { margin-top: .4em; }
  // }
  // @media screen and (min-width: $mq-text-large) {
  //   &:before { margin-top: .5em; }
  // }
  // @media screen and (min-width: 45em) {
  //   font-size: 1.1em;
  // }
  @media screen and (min-width: $mq-nav-large) {
    padding: .5em 1em;
    width: auto;
    text-indent: 0;
    &:before { 
      margin-right: .5em;
      float: none;
    }
  }
}
.dropdown {
  & > .nav-link {
    &:after {
      content: '';
      display: inline-block;
      width: 0; height: 0;
      border-top: .5em solid $text-dark;
      border-left: .35em solid transparent;
      border-right: .35em solid transparent;
      margin-left: .25em;
    }
    &:hover:after, &.active:after, &.current:after { 
      border-top-color: $text-light;
    }
  }
}
