.point-icon {
  display: block;
  margin: .5em;
  text-align: center;
  &:before {
    display: inline-block;
    float: none;
    padding: .75em;
    font-size: 3em;
    line-height: 1;
    background-color: $bg-light;
    border-radius: 50%;
  }
}
.point-title {
  text-align: center;
  // font-size: 1.5em;
}
.inner-point {
  .point-icon {
    float: left;
    margin-right: 1em;
    &:before {
      font-size: 2em;
    }
  }
  .point-title {
    text-align: left;
  }
  @media screen and (min-width: $mq-text-large) {
    width: 50%;
    width: calc(50% - .625em);
    &.stacked {
      width: 100%;
    }
  }
}