.price-title {
  position: relative;
  z-index: 10;
  margin: 0 0 .25em;
  text-align: center;
}
.price {
  display: inline-block;
  min-width: 2.5em;
  margin: .25em 0;
  padding: .25em;
  text-align: center;
  font-size: 4em;
  font-family: $headline-font;
  background-color: $bg-light;
  border-radius: .25em;
}
.price-term {
  display: block;
  margin-top: -.5em;
  font-size: .5em;
}
.price-bullet {
  margin-left: 12%; 
  &:before {
    margin-right: .5em;
    padding: .25em;
    font-size: .75em;
    float: none;
    border-radius: 50%;
    border: 2px solid $text-dark;
  }
}
.price-savings {
  margin-top: -.5em;
  font-family: $headline-font;
  font-size: 1.5em;
  text-align: center;
  color: $brand-loud;
  @media screen and (min-width: 23em) and (max-width: $mq-text-large), screen and (min-width: 60em) {
    position: absolute;
    top: .5em; right: .5em;
    margin: 0;
    padding-top: .75em;
    width: 5em;
    height: 5em;
    line-height: 1.2;
    border-radius: 50%;
    border: .3em solid $brand-loud;
    z-index: 1;
    @include rotate(30deg);
    &:after {
      content: '';
      position: absolute;
      top: 50%; left: -.5em;
      margin-top: -1em;
      width: 5.5em;
      height: 2em;
      z-index: -1;
      background-color: $bg-lightest;
    }
  }
}