.price-title {
  position: relative;
  z-index: 10;
  margin: 0 0 .25em;
  text-align: center;
}
.price {
  display: inline-block;
  min-width: 2.5em;
  margin: .25em 0;
  padding: .25em;
  text-align: center;
  font-size: 4em;
  font-family: $headline-font;
  background-color: $bg-light;
  border-radius: .25em;
}
.monthly {
  @media screen and (min-width: $mq-text-large) and (max-width: 60em) {
    margin-bottom: .8em;
  }
}
.price-term {
  display: block;
  margin-top: -.5em;
  font-size: .5em;
}