section.guide-section#buttons
  header.section-header  
    h1.section-title Buttons
    a.toggle.btn-default.icon-down.icon(href="#") Toggle Section
    br
    a.link.icon-up(href="#top") Back to Top
  .section-main
      button.btn-default Default Button
      button.btn-primary Primary Button
      button.btn-subtle Subtle Button
      button.btn-default.icon-send Icon Button
      button.btn-default.icon-user.icon Icon Only Button
      a.btn-default(href="#") Link Button