footer
  .copyright
    a.btn-social.icon-facebook.icon(href="https://www.facebook.com/servicelineup") Service Line Up Facebook
    a.btn-social.icon-twitter.icon(href="https://twitter.com/ServiceLineUp") Service Line Up Twitter
    a.btn-social.icon-google-plus.icon(href="https://plus.google.com/106114601891012251292",rel="publisher") Service Line Up Google Plus
    a.btn-social.icon-youtube.icon(href="#") Service Line Up Youtube
    p &copy; 2013 VGM Enterprises
script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
script window.jQuery || document.write('<script src="/js/jquery-1.10.2.min.js"><\/script>')
script.
  $(function() {
    $('#toggle-all').click(function(e){
      e.preventDefault();
      $('.guide-section').toggleClass('collapsed');
      $('.guide-header').toggleClass('collapsed');
    });
    $('.toggle').click(function(e){
      e.preventDefault();
      $(this).closest('.guide-section').toggleClass('collapsed');
    });
    $('.menu').click(function(e){
      e.preventDefault();
      $(this).closest('ul').toggleClass('expanded');
    });
  });