header.page-header
  .container
    h2.logo
      a.logo-link(href="/") Service Line Up
    nav
      ul
        li.menu
          a.nav-link.icon-menu(href="#") Menu
        li.dropdown
          a(href="/products/", class="nav-link icon-products #{productsClasses}") Products
          ul.navul_ul
            li
              a(href="/products/cleaning-software") Cleaning Software
            li
              a(href="/products/electrical-software") Electrical Software
            li
              a(href="/products/plumbing-software") Plumbing Software
            li
              a(href="/products/landscaping-software") Landscaping Software
            li
              a(href="/products/pet-care-software") Pet Care Software
            li
              a(href="/products/hvac-software") HVAC Software
            li
              a(href="/products/pool-service-software") Pool Service Software
            li
              a(href="/products/field-service-software") Field Service Software
            li
              a(href="/features/customer-management") Customer Management
        li
          a(href="/faq/", class="nav-link icon-question #{faqClasses}") FAQ
        li
          a(href="/press/", class="nav-link icon-book #{blogClasses}") Blog
        li
          a(href="/contact/", class="nav-link icon-contact #{contactClasses}") Contact
        li
          a.nav-link.icon-enter(href="/Login.aspx") Log In
      .call
        i.icon-phone.call-icon
        h3.call-now Call Now!
        h4.phone-number 844-458-1900
        h4.phone-number-subtitle (Toll Free)