header.page-header
  .container
    h1.logo
      a.logo-link(href="#{basePath}") Service Line Up
    nav
      ul
        li
          a.nav-link.menu.icon-menu(href="#") Menu
        li
          a.nav-link.icon-products(href="#{basePath}/products") Products
        li
          a.nav-link.icon-question(href="#{basePath}/faq") FAQ
        li
          a.nav-link.icon-contact(href="#{basePath}/contact") Contact
        li
          a.nav-link.icon-enter(href="https://servicelineup.com/Login.aspx") Log In