head
  title= pageTitle
  link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:400,700', type='text/css', rel='stylesheet')
  link(href="#{basePath}/css/style.css", type='text/css', rel='stylesheet')
  link(rel="icon", type="image/png", href="#{basePath}/img/service-line-up-favicon.png")    
  meta(name="viewport", content="width=device-width, initial-scale=1")
  script(src="#{basePath}/js/modernizr.min.js")