header.page-header
  .container
    h1.logo
      a.logo-link(href="/") Service Line Up
    nav
      ul
        li
          a.nav-link.menu.icon-menu(href="#") Menu
        li
          a(href="/products/", class="nav-link icon-products #{productsClasses}") Products
        li
          a(href="/faq/", class="nav-link icon-question #{faqClasses}") FAQ
        li
          a(href="/press/", class="nav-link icon-book #{blogClasses}") Blog
        li
          a(href="/contact/", class="nav-link icon-contact #{contactClasses}") Contact
        li
          a.nav-link.icon-enter(href="/Login.aspx") Log In