section.guide-section#icons
  header.section-header  
    h1.section-title Icons
    a.toggle.btn-default.icon-down.icon(href="#") Toggle Section
    br
    a.link.icon-up(href="#top") Back to Top
  .section-main
    .section-blocks
      each iconName, className in iconItems
        .icon-block
          p= iconName
          i(class="#{className} icon")