section.guide-section#icons
  header.section-header  
    h1.section-title Icons
    a.toggle.btn-default.icon-down.icon(href="#") Toggle Section
    br
    a.link.icon-up(href="#top") Back to Top
  .section-main
    .section-blocks
      .icon-block
        p menu
        i.icon-menu.icon
      .icon-block
        p home
        i.icon-home.icon
      .icon-block
        p products
        i.icon-products.icon
      .icon-block
        p about
        i.icon-about.icon
      .icon-block
        p question
        i.icon-question.icon
      .icon-block
        p blog
        i.icon-blog.icon
      .icon-block
        p contact
        i.icon-contact.icon
      .icon-block
        p user
        i.icon-user.icon
      .icon-block
        p phone
        i.icon-phone.icon
      .icon-block
        p send
        i.icon-send.icon
      .icon-block
        p up
        i.icon-up.icon
      .icon-block
        p right
        i.icon-right.icon
      .icon-block
        p down
        i.icon-down.icon
      .icon-block
        p left
        i.icon-left.icon
      .icon-block
        p checkmark
        i.icon-checkmark.icon
