section.guide-section#typography
  header.section-header
    h1.section-title Typography
    a.toggle.btn-default.icon-down.icon(href="#") Toggle Section
    br
    a.link.icon-up(href="#top") Back to Top
  .section-main  
    h1.h1 h1.Header
    h2.h2 h2.Header
    h3.h3 h3.Header
    h4.h4 h4.Header
    p.body-text.
      This is a long block of text that is merely a <span class="text-testing">bit of fake text here so that</span> we can show how the text is going to look when we actually have a paragraph of text on the site. I want this to go longer because we should be able to see how it adjusts to different screen sizes, and it should be a few lines long so that we get a good idea of how it might look.
    p.body-text.
      This is to show some inline styles that might be needed. Here is some <strong>important text</strong>, and here is some <em>emphasized text</em>, and even an <a class="link" href="#">inline link</a> that would need to be styled.
    h2.section-subtitle Unordered Lists
    ul
      li First Item
      li Second Item
        ul
          li Subpoint One
          li Subpoint Two
      li Third Item
    h2.section-subtitle Ordered Lists
    ol
      li First Item
      li Second Item
        ol
          li Subpoint One
          li Subpoint Two      
      li Third Item
