//- Variables for includes
- pageTitle = "Credit Card Processing | Service Line Up"
- pageDescription = "Charge your customers credit cards directly through Service Line Up. Eliminate having to duplicate data in another system."

doctype html
html(lang='en')
  include _head
  body.page
    include _header
    section.guide-main.container
      section.guide-section
        h1.hero-title Credit Card Processing
    include _footer