//- Variables for includes
pageTitle = "Cleaning Software | Service Line Up"

doctype 5
html(lang='en')
  include _head
  body
    include _header
    section.guide-main.container
      section.guide-section.hero
        .hero-image
          .image.product
        h1.hero-title Cleaning Software
        p.hero-text The Service Line Up Cleaning Software is the product designed specifically for those companies that do House Cleaning, Maid Service, Window Cleaning or Janitorial types of work. Our Cleaning Software will streamline the way you run your business from inputting the data into our secure system to useful reports and work sheets that makes viewing your data very easy. Our Cleaning Software will streamline the way you run your business from inputting the data into our secure system to useful reports and worksheets Service Line Up has it all.
      section.guide-section.split-large
        .split-large-child
          h2.section-title Integrated Merchant Account (optional)
          p Charge your customers&rsquo; credit cards directly through Service Line Up. Eliminate having to duplicate data in another system. With great rates, no contracts and no setup fee, it is an easy choice. After you click on one of the Buy buttons below, you will have the option to get a merchant account started.
        .split-large-child
          p.icon-checkmark.bullet No set up fee
          p.icon-checkmark.bullet No Contract
          p.icon-checkmark.bullet Qualified Fees: 2.9% +$0.30
          p.icon-checkmark.bullet Non Qual Fees: 3.5% + $0.30
          p.icon-checkmark.bullet Monthly Fee: $10
          p.icon-checkmark.bullet Minimum: $10 (Approx $350 in sales/month)
      section.guide-section.inner-point
        h2.price-title Annual Plan
        .center
          p.price $499<span class="price-term">year</span>
        p.price-stamp Save $188
        p.bullet (Optional merchant account not included)
        p.icon-checkmark.bullet No set up fee
        p.icon-checkmark.bullet 30-day money back guarantee
        p.icon-checkmark.bullet No contracts
        p.icon-checkmark.bullet No cancellation fees
        .center
          a.btn-primary.icon-cart(href="#{securePath}/Purchase/MerchantAccount.aspx?AccountType=1") Buy Annual Plan
      section.guide-section.inner-point
        h2.price-title Monthly Plan
        .center
          p.price.monthly $49<span class="price-term">month</span>
        p.bullet (Optional merchant account not included)
        p.icon-checkmark.bullet $99 Set up fee
        p.icon-checkmark.bullet 30-day money back guarantee
        p.icon-checkmark.bullet No contracts
        p.icon-checkmark.bullet No cancellation fees
        .center
          a.btn-default.icon-cart(href="#{securePath}/Purchase/MerchantAccount.aspx?AccountType=0") Buy Monthly Plan
      section.guide-section.tagline-section
        h2.tagline Main Features
      section.guide-section.inner-point
        i.point-icon.icon-lock
        .point-text
          h3.point-title Security
          p All pages are behind a certified SSL (Secure Sockets Layer) certificate. This allows sensitive information such as credit card numbers, social security numbers, and login credentials to be transmitted securely.
          p Data is stored in a secure up to date Microsoft SQL 2012 database.
          p Sensitive database data is encrypted with a 128 bit AES key.
          p Passwords must be at least 8 characters long and contain numbers as well as upper and lower case characters.
          p Enhanced form protection against SQL injections and buffer overruns.
      section.inner-point
        section.guide-section.inner-point.stacked
          i.point-icon.icon-mobile
          .point-text
            h3.point-title Accessibility
            p You and all your users can log into Service Line Up from anywhere that the internet is available. We have also designed this system to work on tablets and phones, so your company is only a click away wherever you are.
        section.guide-section.inner-point.stacked
          i.point-icon.icon-stats
          .point-text
            h3.point-title Reports
            p We have your bases covered with all the reports you will need. 9 different reports are included with Service Line Up. Appointments by Contractor, Scheduling, Confirmation, Contractor Directory, Payroll, Unavailability, New/Follow-up Customers, Keys, and Sales Reports.
      section.guide-section.inner-point
        i.point-icon.icon-calendar
        .point-text
          h3.point-title Scheduling
          p Ideal for seeing who is available to work and booking customers. Shows total booked hours by contractor and as a whole. Many useful features make this page invaluable, such as the Compact Mode, which only shows you your availability, making it very easy to see availability.
      section.guide-section.inner-point
        i.point-icon.icon-coin
        .point-text
          h3.point-title Collecting Payments
          p With just a click of a button you can get paid, do returns, or send invoices. If you use our preferred merchant provider, you can also do all your credit card transactions directly through our system rather than having to input data twice into another system.
      section.guide-section.inner-point
        i.point-icon.icon-users
        .point-text
          h3.point-title Customer Information
          p This is a powerful section of the software that lets you do many different functions, from storing customer information, adding appointments, updating customer notes, marking specifics needed by the customer, to specifying how often they want you to come and what time of day is best for them.
      section.guide-section.inner-point
        i.point-icon.icon-clipboard
        .point-text
          h3.point-title Bidding a Job
          p Specifically designed for when you are doing a quote over the phone. Step by step questions tailored to get all the information needed in order to give the customer a quote over the phone. Even better, is all the information is transferred to the Customer page if they end up booking so you don’t have to re-enter anything.
      section.guide-section.inner-point
        i.point-icon.icon-briefcase
        .point-text
          h3.point-title Users / Contractors Information
          p Anytime you want to add/edit or view a contractor this is where you go. Keep track of how and when they get paid, important notes, and many other options designed to make your job as easy as possible. As new users are created or edited, this is where you will do it. With the ability to assign users different user roles, you are able to set your own limitations so that depending on what user role someone is assigned will allow or nor allow them to view or do certain things within your system.
      section.guide-section.inner-point
        i.point-icon.icon-cog
        .point-text
          h3.point-title Account Settings Page
          p All your different company specific settings will be stored here. Company information, Email, Credit Card Processing, and Billing Type information is all in this area.
      section.guide-section.one-up
        i.point-icon.icon-truck
        .point-text
          h3.point-title Return Policy
          p If for any reason you are not happy with our product, you can cancel your account within 30 days of your initial purchase and we will refund your money, no questions asked. After the 30 day period if you choose to cancel your account, we will not bill you again and your account will remain open for the duration of the billing cycle.
    include _footer