//- Variables for includes
basePath = "/vgm-service-line-up"
pageTitle = "Contact | Service Line Up"
contactClasses = "current"

doctype 5
html(lang='en')
  include _head
  body
    include _header
    section.guide-main.container
      section.hero.guide-section
        h1.hero-title Contact Us
    include _footer