//- Variables for includes
pageTitle = "Contact | Service Line Up"
contactClasses = "current"

doctype 5
html(lang='en')
  include _head
  body.page
    include _header
    section.guide-main.container
      section.guide-section
        h1.hero-title Contact Us
        p.hero-text Drop us a line or give us a call. We&rsquo;d love to chat.
      section.guide-section.contact-form
        form(id="form1", name="form1", method="post", action="https://servicelineup.wufoo.com/forms/z1np51lc07ka50v/#public", target="hidden_iframe", onsubmit="thanks();")
          .input-group
            label.label(for="Field1") Name
            input.input(name="Field1", type="text", placeholder="Your name", id="name" required)
          .input-group
            label.label(for="Field2") Email
            input.input(name="Field2", type="email", placeholder="Your email", id="email", data-formance_algorithm="complex" required)
          .input-group
            label.label(for="Field4") Phone Number (optional)
            input.input(name="Field4", type="tel", placeholder="Your number", id="phone")
          .input-group
            label.label(for="Field5") Message
            textarea.textarea(name="Field5", placeholder="Your message", rows="8", id="message" required)
          input#idstamp(name="idstamp", type="hidden", value="6OLdjfplL4nXWyxUTLm4vvv4Detdigw2ucOauRmbqtQ=")
          .center
            button.btn-primary.icon-send Send
        iframe#hidden_iframe(name="hidden_iframe", style="display:none;", onload)
        .thanks.center
          h2.section-title Thank you!
          p.hero-text We&rsquo;ll be in touch soon.
      section.guide-section.contact-block.center
        i.icon-phone.contact-block-icon
        h3.phone-number 800-963-8847
      section.guide-section.contact-block.center
        i.icon-contact.contact-block-icon
        .address
          h3 5278 Pinemont Dr. A240
          h3 Murray, UT 84123
    include _footer
    script(src="#{basePath}/js/jquery.formance.min.js")
    script.
      $(function() {
        $("#phone").formance('format_phone_number');
      });
      function thanks() {
        $("#form1").slideUp();
        $(".thanks").show();
      }