//- Variables for includes
pageTitle = "Contact | Service Line Up"
contactClasses = "current"

doctype 5
html(lang='en')
  include _head
  body
    include _header
    section.guide-main.container
      section.hero.guide-section
        h1.hero-title Contact Us
        p.hero-text Drop us a line or give us a call. We&rsquo;d love to chat.
      section.guide-section
        form
          .input-group
            label.label(for="name") Name
            input.input(name="name", type="text", placeholder="Your name", id="name" required)
          .input-group
            label.label(for="email") Email
            input.input(name="email", type="email", placeholder="Your email", id="email", data-formance_algorithm="complex" required)
          .input-group
            label.label(for="phone") Phone Number (optional)
            input.input(name="phone", type="tel", placeholder="Your number", id="phone")
          .input-group
            label.label(for="message") Message
            textarea.textarea(name="message", placeholder="Your message", rows="8", id="message" required)
          .center
            button.btn-primary.icon-send Send        
      section.guide-section.contact-block.center
        i.icon-phone.contact-block-icon
        h3.phone-number 800-963-8847
      section.guide-section.contact-block.center
        i.icon-contact.contact-block-icon
        .address
          h3 5278 Pinemont Dr. A240
          h3 Murray, UT 84123
    include _footer
    script(src="#{basePath}/js/jquery.formance.min.js")
    script.
      $(function() {
        $("#phone").formance('format_phone_number');
      });