//- Variables for includes
- pageTitle = "Customer Relationship Management | Service Line Up"
- pageDescription = "Keep track of all your customers with the ability to make notes, store pertinent information about the customer and their appointments."

doctype html
html(lang='en')
  include _head
  body.page
    include _header
    section.guide-main.container
      section.guide-section.hero
        .hero-image
          img(src="/img/customer-relationship-management.jpg", alt="Customer Relationship Management")
          .image.customer
        h1.hero-title Customer Relationship Management
        p.hero-text Service Line Up will increase your customer service and overall customer satisfaction, which will increase your revenue by:
        .center
          .split-med
            .split-med-child
              p.bullet.icon-checkmark More positive word of mouth customers
              p.bullet.icon-checkmark Appointments are more likely to not be forgotten about by the customer, which enables more successful sales.
            .split-med-child
              p.bullet.icon-checkmark Customer issues can be addressed quickly and easily which makes customers happy
              p.bullet.icon-checkmark Contractors can be notified easily about their performance, both good and bad, which shows gratitude for a job well done as well as areas that need to be worked on.
      section.guide-section
        header.section-header
          h2.section-title Reports
        p.full With Service Line Up we have 2 reports that will help you achieve a high level of customer service and satisfaction
        h3 New and Follow Up Report
        p.full The <strong>New and Follow Up Report</strong> is what you generate when you want to follow-up with your customers. This report will show you new customers that you have been to as well as those customers that have been marked as “follow-up” so that your customer service and business as a whole is maintained.
        p.full Sending a <strong>Follow-up Email</strong> to your contractors is a useful feature within Service Line Up. When you are talking to your customers, you can ask them about their experience with your company and then send that information to your contractors. This is a great way to see where you need to improve in your business practices and also lets your contractors know where they can improve or to let them know what a great job they did and how happy their customers were with them. Just go into the customers appointment and click on the Follow-up button, fill out the information and click on the Send button. That's it. Service Line Up will then send all the contractors that were on the job a follow-up email.
        h3 Confirmation Report
        p.full The <strong>Confirmation Report</strong> is the perfect report that you can generate to be able to call your customers and confirm their appointment. When you confirm with them, you can also indicate whether you verified with them in person or if you just left a message. You can also click on the appointment times or customers name in order to view or update that information.
      section.guide-section.double-video.flexed-grid
        .video-wrapper
          .video-container
            iframe(src="//www.youtube.com/embed/C9Z8-3K2ous?color=white&rel=0&autoplay=0",frameborder="0",allowfullscreen)
        .video-wrapper
          .video-container
            iframe(src="//www.youtube.com/embed/fWMmrIar8yY?color=white&rel=0&autoplay=0",frameborder="0",allowfullscreen)
    include _footer
