//- Variables for includes
- pageTitle = "Customer Relationship Management | Service Line Up"
- pageDescription = "Keep track of all your customers with the ability to make notes, store pertinent information about the customer and their appointments."

doctype html
html(lang='en')
  include _head
  body.page
    include _header
    section.guide-main.container
      section.guide-section
        h1.hero-title Customer Relationship Management
    include _footer