//- Variables for includes
basePath = "/vgm-service-line-up"
pageTitle = "FAQ | Service Line Up"
faqClasses = "current"

doctype 5
html(lang='en')
  include _head
  body
    include _header
    section.guide-main.container
      section.hero.guide-section
        h1.hero-title Frequently Asked Questions
        p.hero-text If you don't see the answer to your question here, feel free to <a class="link" href="#{basePath}/contact">contact us</a>.
      section.guide-section.faq-questions
        .block
          ul.faq-list
            li
              i.icon-question.faq-icon
              a.link.faq-link(href="#question-1") Question 1 (that will definitely be longer than just a couple words)
            li
              i.icon-question.faq-icon
              a.link.faq-link(href="#question-2") Question 2 (that will definitely be longer than just a couple words)
            li
              i.icon-question.faq-icon
              a.link.faq-link(href="#question-3") Question 3 (that will definitely be longer than just a couple words)
            li
              i.icon-question.faq-icon
              a.link.faq-link(href="#question-4") Question 4 (that will definitely be longer than just a couple words)
            li
              i.icon-question.faq-icon
              a.link.faq-link(href="#question-5") Question 5 (that will definitely be longer than just a couple words)
            li
              i.icon-question.faq-icon
              a.link.faq-link(href="#question-6") Question 6 (that will definitely be longer than just a couple words)
            li
              i.icon-question.faq-icon
              a.link.faq-link(href="#question-7") Question 7 (that will definitely be longer than just a couple words)
            li
              i.icon-question.faq-icon
              a.link.faq-link(href="#question-8") Question 8 (that will definitely be longer than just a couple words)
            li
              i.icon-question.faq-icon
              a.link.faq-link(href="#question-9") Question 9 (that will definitely be longer than just a couple words)
            li
              i.icon-question.faq-icon
              a.link.faq-link(href="#question-10") Question 10 (that will definitely be longer than just a couple words)
        .block
          ul.faq-list
            li
              i.icon-question.faq-icon
              a.link.faq-link(href="#question-11") Question 11 (that will definitely be longer than just a couple words)
            li
              i.icon-question.faq-icon
              a.link.faq-link(href="#question-12") Question 12 (that will definitely be longer than just a couple words)
            li
              i.icon-question.faq-icon
              a.link.faq-link(href="#question-13") Question 13 (that will definitely be longer than just a couple words)
            li
              i.icon-question.faq-icon
              a.link.faq-link(href="#question-14") Question 14 (that will definitely be longer than just a couple words)
            li
              i.icon-question.faq-icon
              a.link.faq-link(href="#question-15") Question 15 (that will definitely be longer than just a couple words)
            li
              i.icon-question.faq-icon
              a.link.faq-link(href="#question-16") Question 16 (that will definitely be longer than just a couple words)
            li
              i.icon-question.faq-icon
              a.link.faq-link(href="#question-17") Question 17 (that will definitely be longer than just a couple words)
            li
              i.icon-question.faq-icon
              a.link.faq-link(href="#question-18") Question 18 (that will definitely be longer than just a couple words)
            li
              i.icon-question.faq-icon
              a.link.faq-link(href="#question-19") Question 19 (that will definitely be longer than just a couple words)
            li
              i.icon-question.faq-icon
              a.link.faq-link(href="#question-20") Question 20 (that will definitely be longer than just a couple words)
      section.guide-section.two-up#question-1
        header.section-header
          h3.question-title Question 1 (that will definitely be longer than just a couple words)
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p This is the answer to the question. My guess is that most of them will be somewhat longer, so I want this to span a few lines at least.
      section.guide-section.two-up#question-2
        header.section-header
          h3.question-title Question 2 (that will definitely be longer than just a couple words)
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p This is the answer to the question. My guess is that most of them will be somewhat longer, so I want this to span a few lines at least.
      section.guide-section.two-up#question-3
        header.section-header
          h3.question-title Question 3 (that will definitely be longer than just a couple words)
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p This is the answer to the question. My guess is that most of them will be somewhat longer, so I want this to span a few lines at least.
      section.guide-section.two-up#question-4
        header.section-header
          h3.question-title Question 4 (that will definitely be longer than just a couple words)
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p This is the answer to the question. My guess is that most of them will be somewhat longer, so I want this to span a few lines at least.
      section.guide-section.two-up#question-5
        header.section-header
          h3.question-title Question 5 (that will definitely be longer than just a couple words)
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p This is the answer to the question. My guess is that most of them will be somewhat longer, so I want this to span a few lines at least.
      section.guide-section.two-up#question-6
        header.section-header
          h3.question-title Question 6 (that will definitely be longer than just a couple words)
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p This is the answer to the question. My guess is that most of them will be somewhat longer, so I want this to span a few lines at least.
      section.guide-section.two-up#question-7
        header.section-header
          h3.question-title Question 7 (that will definitely be longer than just a couple words)
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p This is the answer to the question. My guess is that most of them will be somewhat longer, so I want this to span a few lines at least.
      section.guide-section.two-up#question-8
        header.section-header
          h3.question-title Question 8 (that will definitely be longer than just a couple words)
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p This is the answer to the question. My guess is that most of them will be somewhat longer, so I want this to span a few lines at least.
      section.guide-section.two-up#question-9
        header.section-header
          h3.question-title Question 9 (that will definitely be longer than just a couple words)
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p This is the answer to the question. My guess is that most of them will be somewhat longer, so I want this to span a few lines at least.
      section.guide-section.two-up#question-10
        header.section-header
          h3.question-title Question 10 (that will definitely be longer than just a couple words)
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p This is the answer to the question. My guess is that most of them will be somewhat longer, so I want this to span a few lines at least.
      section.guide-section.two-up#question-11
        header.section-header
          h3.question-title Question 11 (that will definitely be longer than just a couple words)
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p This is the answer to the question. My guess is that most of them will be somewhat longer, so I want this to span a few lines at least.
      section.guide-section.two-up#question-12
        header.section-header
          h3.question-title Question 12 (that will definitely be longer than just a couple words)
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p This is the answer to the question. My guess is that most of them will be somewhat longer, so I want this to span a few lines at least.
      section.guide-section.two-up#question-13
        header.section-header
          h3.question-title Question 13 (that will definitely be longer than just a couple words)
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p This is the answer to the question. My guess is that most of them will be somewhat longer, so I want this to span a few lines at least.
      section.guide-section.two-up#question-14
        header.section-header
          h3.question-title Question 14 (that will definitely be longer than just a couple words)
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p This is the answer to the question. My guess is that most of them will be somewhat longer, so I want this to span a few lines at least.
      section.guide-section.two-up#question-15
        header.section-header
          h3.question-title Question 15 (that will definitely be longer than just a couple words)
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p This is the answer to the question. My guess is that most of them will be somewhat longer, so I want this to span a few lines at least.
      section.guide-section.two-up#question-16
        header.section-header
          h3.question-title Question 16 (that will definitely be longer than just a couple words)
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p This is the answer to the question. My guess is that most of them will be somewhat longer, so I want this to span a few lines at least.
      section.guide-section.two-up#question-17
        header.section-header
          h3.question-title Question 17 (that will definitely be longer than just a couple words)
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p This is the answer to the question. My guess is that most of them will be somewhat longer, so I want this to span a few lines at least.
      section.guide-section.two-up#question-18
        header.section-header
          h3.question-title Question 18 (that will definitely be longer than just a couple words)
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p This is the answer to the question. My guess is that most of them will be somewhat longer, so I want this to span a few lines at least.
      section.guide-section.two-up#question-19
        header.section-header
          h3.question-title Question 19 (that will definitely be longer than just a couple words)
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p This is the answer to the question. My guess is that most of them will be somewhat longer, so I want this to span a few lines at least.
      section.guide-section.two-up#question-20
        header.section-header
          h3.question-title Question 20 (that will definitely be longer than just a couple words)
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p This is the answer to the question. My guess is that most of them will be somewhat longer, so I want this to span a few lines at least.
      section.guide-section.center
        a.btn-primary.icon-right Learn more        
    include _footer
    script.
      $(function() {
        $('.faq-link').click(function(e){
          $('.guide-section.two-up').removeClass('active-question');
          $($(this).attr('href')).addClass('active-question');
        });
      });