//- Variables for includes
basePath = "/vgm-service-line-up"
pageTitle = "FAQ | Service Line Up"
faqClasses = "current"

doctype 5
html(lang='en')
  include _head
  body
    include _header
    section.guide-main.container
      section.hero.guide-section
        h1.hero-title Frequently Asked Questions
    include _footer