//- Variables for includes
basePath = "/vgm-service-line-up"
pageTitle = "FAQ | Service Line Up"
faqClasses = "current"

doctype 5
html(lang='en')
  include _head
  body
    include _header
    section.guide-main.container
      section.hero.guide-section
        h1.hero-title Frequently Asked Questions
        p.hero-text If you don't see the answer to your question here, feel free to <a class="link" href="#{basePath}/contact">contact us</a>.
      section.guide-section.faq-questions
        ul.faq-list
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-1") Is there a limit as to how many users or customers that can be created with my membership?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-2") What if there is a feature I want that is not included?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-3") What other products are going to be available in future besides Cleaning Software?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-4") What if I am having issues logging in or using the system?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-5") How do I cancel my membership plan?
      section.guide-section.two-up#question-1
        header.section-header
          h3.question-title Is there a limit as to how many users or customers that can be created with my membership?
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p No. you can create and store unlimited users and customers.
      section.guide-section.two-up#question-2
        header.section-header
          h3.question-title What if there is a feature I want that is not included?
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p Please <a class="link" href="#{basePath}/contact">contact us</a> with any ideas you may have. We are always looking for ways to improve Service Line Up.
      section.guide-section.two-up#question-3
        header.section-header
          h3.question-title What other products are going to be available in future besides Cleaning Software?
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p We are going to add Yard Care, Plumbing, Heating/Cooling and Electrician software soon.
      section.guide-section.two-up#question-4
        header.section-header
          h3.question-title What if I am having issues logging in or using the system?
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p We are here to help you every step of the way. Please <a class="link" href="#{basePath}/contact">contact us</a> if you have any questions or issues.
      section.guide-section.two-up#question-5
        header.section-header
          h3.question-title How do I cancel my membership plan?
          a.link.icon-up(href="#top") Back to Top
        .section-main
          p If you decide you no longer want to use Service Line Up, simply go to your Account Settings page, scroll to the bottom and cancel your account.
          p Once your account is canceled you will have access to your account until your billing cycle is over.
    include _footer
    script.
      $(function() {
        $('.faq-link').click(function(e){
          $('.guide-section.two-up').removeClass('active-question');
          $($(this).attr('href')).addClass('active-question');
        });
      });