//- Variables for includes
pageTitle = "FAQ | Service Line Up"
faqClasses = "current"

doctype 5
html(lang='en')
  include _head
  body.page
    include _header
    section.guide-main.container
      section.guide-section
        h1.hero-title Frequently Asked Questions
        p.hero-text If you don't see the answer to your question here, feel free to <a class="link" href="#{basePath}/contact">contact us</a>.
      section.guide-section.tagline-section.center#account-questions
        h2.tagline.anchor Account Questions
          a.icon-link.icon.anchor-link.faq-link(href="#account-questions")
      section.guide-section.faq-questions
        ul.faq-list
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-1") Is there a limit as to how many users or customers that can be created with my membership?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-2") What if there is a feature I want that is not included?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-3") What other products are going to be available in future besides Cleaning Software?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-4") What if I am having issues logging in or using the system?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-5") How do I cancel my membership plan?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-6") Which features are included with each product?
      section.guide-section.two-up#question-1
        header.section-header
          h3.question-title.anchor Is there a limit as to how many users or customers that can be created with my membership?
            a.icon-link.icon.anchor-link.faq-link(href="#question-1")
          a.link.icon-up(href="#account-questions") Back to Account Questions
        .section-main
          p No. you can create and store unlimited users and customers.
      section.guide-section.two-up#question-2
        header.section-header
          h3.question-title.anchor What if there is a feature I want that is not included?
            a.icon-link.icon.anchor-link.faq-link(href="#question-2")
          a.link.icon-up(href="#account-questions") Back to Account Questions
        .section-main
          p Please <a class="link" href="#{basePath}/contact">contact us</a> with any ideas you may have. We are always looking for ways to improve Service Line Up.
      section.guide-section.two-up#question-3
        header.section-header
          h3.question-title.anchor What other products are going to be available in future besides Cleaning Software?
            a.icon-link.icon.anchor-link.faq-link(href="#question-3")
          a.link.icon-up(href="#account-questions") Back to Account Questions
        .section-main
          p We are going to add Yard Care, Plumbing, Heating/Cooling and Electrician software soon.
      section.guide-section.two-up#question-4
        header.section-header
          h3.question-title.anchor What if I am having issues logging in or using the system?
            a.icon-link.icon.anchor-link.faq-link(href="#question-4")
          a.link.icon-up(href="#account-questions") Back to Account Questions
        .section-main
          p We are here to help you every step of the way. Please <a class="link" href="#{basePath}/contact">contact us</a> if you have any questions or issues.
      section.guide-section.two-up#question-5
        header.section-header
          h3.question-title.anchor How do I cancel my membership plan?
            a.icon-link.icon.anchor-link.faq-link(href="#question-5")
          a.link.icon-up(href="#account-questions") Back to Account Questions
        .section-main
          p If you decide you no longer want to use Service Line Up, simply go to your Account Settings page, scroll to the bottom and cancel your account.
          p Once your account is canceled you will have access to your account until your billing cycle is over.
      section.guide-section.two-up#question-6
        header.section-header
          h3.question-title.anchor Which features are included with each product?
            a.icon-link.icon.anchor-link.faq-link(href="#question-6")
          a.link.icon-up(href="#account-questions") Back to Account Questions
        .section-main
          p On our <a class="link" href="#{basePath}/products">Products Page</a>, you can get to the detail pages for each of the products that are offered, where you can find all of the available features.
      section.guide-section.tagline-section.center#product-questions
        h2.tagline.anchor Product Questions
          a.icon-link.icon.anchor-link.faq-link(href="#product-questions")
      section.guide-section.faq-questions
        ul.faq-list
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-7") How do I get my account all set up?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-8") How do I create users?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-9") How do I bid a job?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-10") How do I look up a customer?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-11") How do I book an existing customer?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-12") What are the purposes of the General and Deep Clean sections?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-13") How do I edit/view an existing appointment?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-14") How do I delete an appointment?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-15") How do I delete an appointment range?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-16") What are the different recurrences I can do for a customer?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-17") How do I get paid for a job?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-18") How do I do a return for a job?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-19") How do I do a void for a job?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-20") How do I do an invoice for a job?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-21") How do I create a New/Return/Invoice outside of doing it through an appointment?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-22") How do I quickly see which user is available for a job?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-23") How do I download my customers data into a spreadsheet?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-24") How do I view/print a report?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-25") How do I manually send a User/Contractor their appointments by Contractor Report or Personal Payroll Report?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-26") What is the purpose of each report?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-27") What is the purpose of the Analytics page?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-28") How do I add/edit/delete a users unavailability to the Schedule page?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-29") What is the purpose of the Send Letter button on the Customer page?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-30") What is the purpose of the Internal Notes section within the Customer page?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-31") What is the purpose of the Scheduling Notes section within the Customer page?
          li.cf
            i.icon-question.faq-icon
            a.link.faq-link(href="#question-32") How do I send a follow-up report to a User/Contractor for a particular appointment?
      section.guide-section.one-up#question-7
        header.section-header
          h3.question-title.anchor How do I get my account all set up?
            a.icon-link.icon.anchor-link.faq-link(href="#question-7")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          ul
            li Go to Account Settings
            li Fill out the Company Information section with the details you will want shown on your Service Line Up account.
            li Fill out the date/time information
              ul
                li <strong>Time Zone</strong>- Select your Time Zone
                li <strong>Send Schedules</strong>- If a User/Contractor has the Send Schedules option selected, this is the time when their schedule will be sent to them (+/- 15 minutes).
            li Fill out the Company Email section
              ul
                li <strong>Email Address</strong>- Enter in the email address that you will send email from
                li <strong>Email Password</strong>- Enter in the password for your email account.
                li <strong>SMTP Outbound Server Details</strong>- Enter in your SMTP details here.
                  ul
                    li <strong>NOTE</strong>- With Gmail, when you first send an email through Service Line Up, you will get an email saying <strong>Suspicious sign in prevented</strong>.
                    li Click on the link below the Reset password button in the sentence that says: &ldquo;If this was you, and you are having trouble accessing your account, complete the troubleshooting steps listed at http://support.google.com/mail?p=client_login&rdquo;
                    li Click on the link within step 3, that says: &ldquo;If this was you, and you are having trouble accessing your account, complete the troubleshooting steps listed at http://support.google.com/mail?p=client_login&rdquo;
                    li Click on the Continue button
            li Fill out the Credit Card Processing section
              ul
                li If you signed up with our preferred merchant, you should have received an email with your ePN Account number and Restriction Key.
                li <strong>ePN Account</strong>- Enter in your ePN Account number
                li <strong>Restrict Key</strong>- Enter in your Restrict Key
            li Fill out the Billing Information section.
              ul
                li Depending on how you bill your customers will determine how you fill out this section
                li <strong>Billing Type</strong>- Choose your billing type
                li Enter in your defaults that will be displayed throughout Service Line Up
            li Enter in your other default options.
              ul
                li <strong>Advertisement Dropdown</strong>- Add/Edit/Delete items shown in this dropdown
                li <strong>Adjustment Dropdown</strong>- Add/Edit/Delete items shown in this dropdown
                li <strong>Payment Dropdown</strong>- Add/Edit/Delete items shown in this dropdown
                li Click on Save Changes
      section.guide-section.one-up#question-8
        header.section-header
          h3.question-title.anchor How do I create users?
            a.icon-link.icon.anchor-link.faq-link(href="#question-8")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          p <em>Note- your personal user is already set up. Edit/view it by selecting it from the User drop down.</em>
          ul
            li Choose a User Type
              ul
                li <strong>No Access</strong>- Does not allow any access
                li <strong>Contractor</strong>- Only allows Schedule page, Reports (Payroll Report &amp; Appointment by Contractor Report), for that particular Contractor only to be viewed
                li <strong>Manager</strong>- Can see and do everything except:
                  ul
                    li See the Users page
                    li See the Analytics page
                    li See the Franchise page
                    li See anyone else besides themselves on the Payroll Report
                    li Ability to use the Export Customers button
                    li Ability to delete customers
                li <strong>Manager &amp; Contractor</strong>- Is listed on the Schedule page and can see and do everything <strong>except</strong>:
                  ul
                    li See the Users page
                    li See the Analytics page
                    li See the Franchise page
                    li See anyone else besides themselves on the Payroll Report
                    li Ability to use the Export Customers button
                    li Ability to delete customers
                li <strong>Company Owner</strong>- Can see and do everything <strong>except</strong>:
                  ul
                    li Create Company Owner Users
                li <strong>Company Owner &amp; Contractor</strong>-  Is listed on the Schedule page and can see and do everything <strong>except</strong>:
                  ul
                    li Create Company Owner Users
            li Enter all the needed information
              ul
                li Team Name- Team names are grouped together at the top of the Schedule page.
                li Username- Enter in a user name, can be any combination of letters/numbers.
                li Password-Enter in a password. Must be at least 6 characters.
                li Payment Day- The day you would like an individual Payroll Report sent to the User.
      section.guide-section.one-up#question-9
        header.section-header
          h3.question-title.anchor How do I bid a job?
            a.icon-link.icon.anchor-link.faq-link(href="#question-9")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          ul
            li Go to Customers, and click on the Bid View button.
            li Ask the customer each question listed.
            li Based on the information you gather, determine the cost of the job.
            li Click on Save Changes and you will be taken back to the Customer page.
      section.guide-section.one-up#question-10
        header.section-header
          h3.question-title.anchor How do I look up a customer?
            a.icon-link.icon.anchor-link.faq-link(href="#question-10")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          ul
            li Go to Customers, and click on the Bid View button.
            li Enter in the Search box any part of the customers first/last name, or phone number.
            li Select the customer you want, and click on Search.
      section.guide-section.one-up#question-11
        header.section-header
          h3.question-title.anchor How do I book an existing customer?
            a.icon-link.icon.anchor-link.faq-link(href="#question-11")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          p There are three ways:
          ol
            li Schedule Page
              ol
                li Go to the Schedule page.
                li Enter in the Search box any part of the customers first/last name, or phone number.
                li Select the customer you want, and click on Search.
                li Select an available contractor
                li Enter in the Date and Time of the appointment
                li Select a recurrence
                li Ensure all the information is correct and click on Save Changes.
            li Customer Page Option 1
              ol
                li Go to the Customer page.
                li Enter in the Search box any part of the customers first/last name, or phone number.
                li Select the customer you want, and click on Search.
                li Ensure you have all the needed information.
                li Click on the Schedule button
                li On the Schedule page, select an available contractor
                li Enter in the Date and Time of the appointment
                li Select a recurrence
                li Ensure all the information is correct and click on Save Changes.
            li Customer Page Option 2
              ol
                li Go to the Customer page.
                li Enter in the Search box any part of the customers first/last name, or phone number.
                li Select the customer you want, and click on Search.
                li Ensure you have all the needed information.
                li Click on New Appointment
                li Enter in the Date and Time of the appointment
                li Select a recurrence
                li Add Contractors
                li Ensure all the information is correct and click on Save Changes.
      section.guide-section.one-up#question-12
        header.section-header
          h3.question-title.anchor What are the purposes of the General and Deep Clean sections?
            a.icon-link.icon.anchor-link.faq-link(href="#question-12")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          p Each section adds details to the Appointment by Contractor Report
          p <strong>NOTE- When Deep Clean or General Clean Plus is not selected, the Deep Clean items will not show up on the Appointment by Contractor Report.</strong>
      section.guide-section.one-up#question-13
        header.section-header
          h3.question-title.anchor How do I edit/view an existing appointment?
            a.icon-link.icon.anchor-link.faq-link(href="#question-13")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          ul
            li Go to the Customer page.
            li Enter in the Search box any part of the customers first/last name, or phone number.
            li Select the customer you want, and click on Search.
            li In the Appointments section, click on the date you want to edit/view.
            li Make the appropriate changes, if needed, and click on Save Changes.
      section.guide-section.one-up#question-14
        header.section-header
          h3.question-title.anchor How do I delete an appointment?
            a.icon-link.icon.anchor-link.faq-link(href="#question-14")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          ul
            li Go to the Customer page.
            li Enter in the Search box any part of the customers first/last name, or phone number.
            li Select the customer you want, and click on Search.
            li In the Appointments section, click on the date you want to edit/view.
            li Click on the Delete button.
            li Click on the Confirm Delete button.
      section.guide-section.one-up#question-15
        header.section-header
          h3.question-title.anchor How do I delete an appointment range?
            a.icon-link.icon.anchor-link.faq-link(href="#question-15")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          ul
            li Go to the Customer page.
            li Enter in the Search box any part of the customers first/last name, or phone number.
            li Select the customer you want, and click on Search.
            li In the Appointments section, click on the Delete Range button.
            li Choose the date range you want to delete.
              p <strong>NOTE- leaving the End Date blank will delete all future appointments.</strong>
            li Click on the Delete Range button.
            li Click on the Confirm Delete button.
      section.guide-section.one-up#question-16
        header.section-header
          h3.question-title.anchor What are the different recurrences I can do for a customer?
            a.icon-link.icon.anchor-link.faq-link(href="#question-16")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          ul
            li <strong>None</strong>- Will not recur.
            li <strong>Weekly</strong>- Used on customers with appointments that occur every X number of weeks. (i.e. bi-weekly, every 4 weeks, etc.)
            li <strong>Monthly</strong>- Used for customers that want to be monthly on a certain week and day.
            li <strong>Re-Make Future Appointments</strong>- Used to update all future appointments with the new information.
      section.guide-section.one-up#question-17
        header.section-header
          h3.question-title.anchor How do I get paid for a job?
            a.icon-link.icon.anchor-link.faq-link(href="#question-17")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          p There are two ways:
          ol
            li Payments page
              ol
                li Go to the Payments page
                li Select the date range/quick dates and click on the Apply button
                li Choose the options you want to filter the results by.
                li Click on the Customer name that you want to mark as Paid.
                li Chose Sale from the New Transaction drop down in the Payments section.
                li Ensure all the information is correct.
                li Click on the Submit button.
            li Customer page
              ol
                li Go to the Customer page
                li Enter in the Search box any part of the customers first/last name, or phone number.
                li Select the customer you want, and click on Search.
                li In the Appointments section, click on the date you want to mark as Paid.
                li Chose Sale from the New Transaction drop down in the Payments section.
                li Ensure all the information is correct.
                li Click on the Submit button.
      section.guide-section.one-up#question-18
        header.section-header
          h3.question-title.anchor How do I do a return for a job?
            a.icon-link.icon.anchor-link.faq-link(href="#question-18")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          p There are two ways:
          ol
            li Payments page
              ol
                li Go to the Payments page
                li Select the date range/quick dates and click on the Apply button
                li Choose the options you want to filter the results by.
                li Click on the Customer name that you want to do a return on.
                li Chose Return from the New Transaction drop down in the Payments section.
                li Ensure all the information is correct.
                li Click on the Submit button.
            li Customer page
              ol
                li Go to the Customer page
                li Enter in the Search box any part of the customers first/last name, or phone number.
                li Select the customer you want, and click on Search.
                li In the Appointments section, click on the date you want to do a return on.
                li Chose Return from the New Transaction drop down in the Payments section.
                li Ensure all the information is correct.
                li Click on the Submit button.
      section.guide-section.one-up#question-19
        header.section-header
          h3.question-title.anchor How do I void a job?
            a.icon-link.icon.anchor-link.faq-link(href="#question-19")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          p <em>Note- This can only be done on Credit Cards that have not batched, using the integrated merchant account.</em>
          p There are two ways:
          ol
            li Payments page
              ol
                li Go to the Payments page
                li Select the date range/quick dates and click on the Apply button
                li Choose the options you want to filter the results by.
                li Click on the Customer name that you want to do a Void on.
                li Click on the Void button
            li Customer page
              ol
                li Go to the Customer page
                li Enter in the Search box any part of the customers first/last name, or phone number.
                li Select the customer you want, and click on Search.
                li In the Appointments section, click on the date you want to do a Void on.
                li Click on the Void button
      section.guide-section.one-up#question-20
        header.section-header
          h3.question-title.anchor How do I do an invoice for a job?
            a.icon-link.icon.anchor-link.faq-link(href="#question-20")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          p There are two ways:
          ol
            li Payments page
              ol
                li Go to the Payments page
                li Select the date range/quick dates and click on the Apply button
                li Choose the options you want to filter the results by.
                li Click on the Customer name that you want to do an invoice on.
                li Chose Invoice from the New Transaction drop down in the Payments section.
                li Ensure all the information is correct.
                li Click on the Submit button.
            li Customer page
              ol
                li Go to the Customer page
                li Enter in the Search box any part of the customers first/last name, or phone number.
                li Select the customer you want, and click on Search.
                li In the Appointments section, click on the date you want to do an invoice on.
                li Chose Invoice from the New Transaction drop down in the Payments section.
                li Ensure all the information is correct.
                li Click on the Submit button.
      section.guide-section.one-up#question-21
        header.section-header
          h3.question-title.anchor How do I create a New/Return Invoice outside of doing it through an appointment?
            a.icon-link.icon.anchor-link.faq-link(href="#question-21")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          ul
            li Go to the Customer page
            li Enter in the Search box any part of the customers first/last name, or phone number.
            li Select the customer you want, and click on Search.
            li Click on the New Payment/Return/Invoice button
            li Ensure all the information is correct.
            li Click on the Submit button.
      section.guide-section.one-up#question-22
        header.section-header
          h3.question-title.anchor How do I quickly see which user is available for a job?
            a.icon-link.icon.anchor-link.faq-link(href="#question-22")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          ul
            li Go to Schedule.
            li Click on the Compact Mode button
            li Quickly scan through your users and see who is available.
      section.guide-section.one-up#question-23
        header.section-header
          h3.question-title.anchor How do I download my customers&rsquo; data into a spreadsheet?
            a.icon-link.icon.anchor-link.faq-link(href="#question-23")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          ul
            li Go to Reports
            li Click on the Export Customer Data button
              p <strong>NOTE- This feature does not export any sensitive data like credit card information.</strong>
      section.guide-section.one-up#question-24
        header.section-header
          h3.question-title.anchor How do I view/print a report?
            a.icon-link.icon.anchor-link.faq-link(href="#question-24")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          ul
            li Go to Reports
            li Select the date range/quick dates you would like to view/print.
            li Select the report you would like to view.
            li Click on the View Report button
            li To Print, press CTRL+P (Windows) or &#8984;P (Mac).
      section.guide-section.one-up#question-25
        header.section-header
          h3.question-title.anchor How do I manually send a User/Contractor their Appointments by Contractor Report or Personal Payroll Report?
            a.icon-link.icon.anchor-link.faq-link(href="#question-25")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          ul
            li Go to Reports
            li Select the date range/quick dates you would like to view/print.
            li Select the Users/Contractors you would like to send a report to.
            li Click on the Send Schedules or Send Payroll buttons.
      section.guide-section.one-up#question-26
        header.section-header
          h3.question-title.anchor What is the purpose of each report?
            a.icon-link.icon.anchor-link.faq-link(href="#question-26")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          ul
            li <strong>Appointments by Contractor Report</strong>- Is sent with the User/Contractor to show the details of their jobs for the day.
              p <em>Note- This is also the report that gets emailed to the Users/Contractors that have this option enabled.</em>
            li <strong>Scheduling Appointment Report</strong>- Useful when doing schedules. Lists all the customers and any important information listed in the Scheduling Notes section on the Customer page.
            li <strong>Confirmation Appointment Report</strong>- Used when confirming Appointments the day before. Can Click on Verified or Left Message to know how you confirmed with them.
            li <strong>Contractor Directory</strong>- Lists all the Active contractors their email address and phone numbers
            li <strong>Payroll Report</strong>- Used for contractors payroll, and to view totals for the dates selected.
            li <strong>Unavailability Report</strong>- Shows the date and times that the contractors need to be unavailable and when they put in their unavailability.
            li <strong>New/Follow-up Customers Reports</strong>- Shows the customers you went to that you need to follow-up with that have a New or Follow-up status on the Customer page.
            li <strong>Keys Report</strong>- Shows the keys needed for the dates selected. Also allows you to mark the keys as Returned.
            li <strong>Sales Report</strong>- Shows the Sales for the dates selected.
      section.guide-section.one-up#question-27
        header.section-header
          h3.question-title.anchor What is the purpose of the Analytics page?
            a.icon-link.icon.anchor-link.faq-link(href="#question-27")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          p It&rsquo;s great for tracking performance of Active Customers and Appointment Hours by the week.
      section.guide-section.one-up#question-28
        header.section-header
          h3.question-title.anchor How do I add/edit/delete a users unavailability to the Schedule page?
            a.icon-link.icon.anchor-link.faq-link(href="#question-28")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          ul
            li Go to the Schedule page
            li Click on the Add Unavailability button next to the User/Contractor.
            li Enter the date, time span, and recurrence, if any.
            li Click on the Save button
              p <strong>NOTE- Contractors are able to view just themselves on the Schedule page, and are able to add/edit/view their unavailability.</strong>
      section.guide-section.one-up#question-29
        header.section-header
          h3.question-title.anchor What is the purpose of the Send Letter button on the Customer page?
            a.icon-link.icon.anchor-link.faq-link(href="#question-29")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          p You can set up a any kind of letter, within the Account Settings section, that you want to send to your customers, like a welcome letter, contract, etc.
      section.guide-section.one-up#question-30
        header.section-header
          h3.question-title.anchor What is the purpose of the Internal Notes section within the Customer page?
            a.icon-link.icon.anchor-link.faq-link(href="#question-30")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          p It is used to store any pertinent information about the customer. 
          p (i.e. 11/1/13- Customer skipped appointment on 11/3/13. Just go to next one. Ron)
      section.guide-section.one-up#question-31
        header.section-header
          h3.question-title.anchor What is the purpose of the Scheduling Notes section within the Customer page?
            a.icon-link.icon.anchor-link.faq-link(href="#question-31")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          p It is used to store any notes that you want to see on the Scheduling Report. 
          p (i.e. same people each time)
      section.guide-section.one-up#question-32
        header.section-header
          h3.question-title.anchor How do I send a follow-up report to a User/Contractor for a particular appointment?
            a.icon-link.icon.anchor-link.faq-link(href="#question-32")
          a.link.icon-up(href="#product-questions") Back to Product Questions
        .section-main
          ul
            li Go to the Customer page
            li Enter in the Search box any part of the customers first/last name, or phone number.
            li Select the customer you want, and click on Search.
            li In the Appointments section, click on the date you want to do a Follow-Up on. 
            li Click on the Follow-Up button
            li Fill out the form and click on the Send button.
    include _footer
    script.
      $(function() {
        $('.faq-link').click(function(e){
          $('.guide-section.two-up').removeClass('active-question');
          $($(this).attr('href')).addClass('active-question');
        });
      });