//- Variables for includes
- pageTitle = "Field Service Software | Service Line Up"
- pageDescription = "Designed with your Electrical, Plumbing, HVAC, Landscaping, Pet Care, or Pool Service in mind. Service Line Up provides Field Service Software to help you manage your products, payroll, transactions and more."
- pageURL = "field-service-software"

doctype html
html(lang='en')
  include _head
  body.page
    include _header
    section.guide-main.container
      section.guide-section.hero
        .hero-image
          img(src="/img/man-at-window.jpg", alt="Field Service Software")
          .image.field
        h1.hero-title Field Service Software
        p.hero-text The Service Line Up Field Service Software is the product designed specifically for those companies that do Electrical, Plumbing, HVAC, Landscaping, Pet Care, or Pool Service types of work. Our Field Service Software will streamline the way you run your business from inputting the data into our secure system to useful reports and worksheets; Service Line Up has it all.
      include _software
    include _footer