//- Variables for includes
- pageTitle = "Pet Care Management Software | ServiceLineUp.com"
- pageDescription = "Our Pet Care Management Software will help streamline your business today by helping with payroll, transactions, customer scheduling and more. Available at Service Line up."
- pageURL = "pet-care-software"

doctype html
html(lang='en')
  include _head
  body.page
    include _header
    section.guide-main.container
      section.guide-section.hero
        .hero-image
          img(src="/img/per-care.jpg", alt="Pet Care Software")
          .image.pet-care
        h1.hero-title Pet Care Software
        p.hero-text The Service Line Up Field Service Software is the product designed specifically for those companies that do Pet Care. Our Field Service Software will streamline the way you run your business from inputting the data into our secure system to useful reports and worksheets; Service Line Up has it all.
      include _software
    include _footer