//- Variables for includes
- pageTitle = "Pool Service Software | Service Line Up"
- pageDescription = "Service Line Up provides Pool Service Software and Billing Software to help you manage your products, payroll, transactions and more. Visit our site today."
- pageURL = "pool-service-software"

doctype html
html(lang='en')
  include _head
  body.page
    include _header
    section.guide-main.container
      section.guide-section.hero
        .hero-image
          img(src="/img/pool-service.jpg", alt="Pool Service Software")
          .image.pool-service
        h1.hero-title Pool Service Software
        p.hero-text The Service Line Up Field Service Software is the product designed specifically for those companies that do Pool Service. Our Field Service Software will streamline the way you run your business from inputting the data into our secure system to useful reports and worksheets; Service Line Up has it all.
      include _software
    include _footer