//- Variables for includes
- pageTitle = "Pool Service Management Software | ServiceLineUp.com"
- pageDescription = "Service Line Up provides Pool Service Software and Billing Software to help you manage your products, payroll, transactions and more. Visit our site today."
- pageURL = "pool-service-software"

doctype html
html(lang='en')
  include _head
  body.page
    include _header
    section.guide-main.container
      section.guide-section.hero
        .hero-image
          img(src="/img/pool-service.jpg", alt="Pool Service Software")
          .image.pool-service
        h1.hero-title See Our Pool Service Software
        p.hero-text Are the everyday operations of your pool service business draining your time? Do you want to focus on serving customers and growing your business? You can't escape your pool service company's daily tasks, but you can streamline them with Service Line Up.
        p.hero-text Unlike generic office software you have to customize, Service Line Up comes pre-designed to meet the needs of your pool service company. From tracking appointments to collecting payments, Service Line Up has everything your business needs to succeed.
        p.hero-text Prioritize customer service and quality work with Service Line Up. This pool service billing software fully integrates every piece of data you collect to conduct business and stores everything securely on your account. Track and organize every client interaction and preference from initial quote to completed job to loyal customer.
        p.hero-text Want to track the growth of your pool service business? Use Service Line Up to generate sales reports and follow-up with newcustomers. With a Service Line Up account, your office follows you wherever you go. Access your Service Line Up account whenever you need it with its smart device-optimized system.
        p.hero-text Make pool service the focus of your everyday work again. Let Service Line Up do the heavy lifting of your business's clerical work.
      include _software
    include _footer