//- Variables for includes
- pageTitle = "Pool Service Software | Service Line Up"
- pageDescription = "Service Line Up provides Pool Service Software to help you manage your products, payroll, transactions and more."

doctype html
html(lang='en')
  include _head
  body.page
    include _header
    section.guide-main.container
      section.guide-section.hero
        .hero-image
          img(src="/img/man-at-window.jpg", alt="Pool Service Software")
          .image.field
        h1.hero-title Pool Service Software
        p.hero-text Coming soon...
      include _software
    include _footer