//- Variables for includes
- pageTitle = "Blog | Service Line Up"
- blogClasses = "current"

doctype html
html(lang='en')
  include _head
  body.page
    include _header
    section.guide-main.container
    include _footer