//- Variables for includes
basePath = "/vgm-service-line-up"
pageTitle = "Privacy Policy | Service Line Up"

doctype 5
html(lang='en')
  include _head
  body
    include _header
    section.guide-main.container
      section.guide-section
        h1.hero-title Privacy Policy
        p <em>Last modified: November 20, 2013</em>
    include _footer