//- Variables for includes
pageTitle = "Cleaning Software | Service Line Up"
productsClasses = "current"

doctype 5
html(lang='en')
  include _head
  body
    include _header
    section.guide-main.container
      section.guide-section.four-up
        header.section-header
          h2.product-title Field Service Software
        .section-main
          p Electrical, Plumbing, HVAC, Landscaping, Pet Care, and Pool Service
          .center
            a.btn-primary.icon-right(href="field-service-software") Learn More
      section.guide-section.four-up
        header.section-header
          h2.product-title Cleaning Software
        .section-main
          p House Cleaning, Janitorial, Window Cleaning, and Maid Service
          .center
            a.btn-primary.icon-right(href="cleaning-software") Learn More
      section.guide-section.four-up.coming-soon
        header.section-header
          h2.product-title Coming Soon&hellip;
      section.guide-section.four-up.coming-soon
        header.section-header
          h2.product-title Coming Soon&hellip;
    include _footer