//- Variables for includes
basePath = "/vgm-service-line-up"
pageTitle = "Cleaning Software | Service Line Up"
productsClasses = "current"

doctype 5
html(lang='en')
  include _head
  body
    include _header
    section.guide-main.container
      section.guide-section.two-up
        header.section-header
          h3.section-title Cleaning Software
        .section-main
          p House Cleaning, Janitorial, Window Cleaning, and Maid Service
          a.btn-primary.icon-right(href="cleaning-software") Learn More
      section.guide-section.two-up
        header.section-header
          h3.section-title Coming Soon
      section.guide-section.two-up
        header.section-header
          h3.section-title Coming Soon
      section.guide-section.two-up
        header.section-header
          h3.section-title Coming Soon
      section.guide-section.center
        a.btn-primary.icon-cart(href="#") Buy Now
    include _footer