//- Variables for includes
pageTitle = "Cleaning Software | Service Line Up"
productsClasses = "current"

doctype 5
html(lang='en')
  include _head
  body.page
    include _header
    section.guide-main.container
      section.guide-section.two-up.product-description
        header.section-header
          h2.product-title Field Service Software
        .section-main.product-tagline
          p Electrical, Plumbing, HVAC, Landscaping, Pet Care, and Pool Service
        footer
          .center
            a.btn-primary.icon-right(href="field-service-software") Learn More
      section.guide-section.two-up.product-description
        header.section-header
          h2.product-title Cleaning Software
        .section-main.product-tagline
          p House Cleaning, Janitorial, Window Cleaning, and Maid Service
        footer
          .center
            a.btn-primary.icon-right(href="cleaning-software") Learn More
    include _footer