//- Variables for includes
- pageTitle = "Best Scheduling Software | Service Line Up"
- productsClasses = "current"
- pageDescription = "Choose Service Line Up for the best scheduling software in specific field service & cleaning services. Our products can process payroll, data tasks, & more!"

doctype html
html(lang='en')
  include _head
  body.page
    include _header
    section.guide-main.container
      section.hero.guide-section.cf
        .hero-image
          img(src="/img/man-on-phone.jpg", alt="Man using best scheduling software")
          .image.product
        h1.hero-title Gain access to the best scheduling software
        p.hero-text If you are looking for the best scheduling software out there, Service Line Up can help. Our business management software was developed with you in mind. Our <a class="link" href="cleaning-software">Cleaning Software</a> and <a class="link" href="field-service-software">Field Service Software</a> will organize and optimize your business like nothing else can. Choose one to learn more.
      section.guide-section.two-up.product-description.flexed-box
        header.section-header
          h2.product-title Field Service Software
        .section-main.flexed-middle
          p Electrical, Plumbing, HVAC, Landscaping, Pet Care, and Pool Service
        footer
          .center
            a.btn-primary.icon-right(href="field-service-software/") Learn More
      section.guide-section.two-up.product-description.flexed-box
        header.section-header
          h2.product-title Cleaning Software
        .section-main.flexed-middle
          p House Cleaning, Janitorial, Window Cleaning, and Maid Service
        footer
          .center
            a.btn-primary.icon-right(href="cleaning-software/") Learn More
      section.guide-section
        header.section-header
          h2.product-title Highlights
        .section-main
          p.full These are some of the areas Service Line Up stands out above the rest.
          .flexed-grid
            .video-wrapper
              .video-container
                iframe(src="//www.youtube.com/embed/HNPwx2rx6KY?color=white",frameborder="0",allowfullscreen)
            .video-wrapper
              .video-container
                iframe(src="//www.youtube.com/embed/JmR7MbiDAd4?color=white",frameborder="0",allowfullscreen)
            .video-wrapper
              .video-container
                iframe(src="//www.youtube.com/embed/F-1yL3ocSiY?color=white",frameborder="0",allowfullscreen)
            .video-wrapper
              .video-container
                iframe(src="//www.youtube.com/embed/O9W67YUESRU?color=white",frameborder="0",allowfullscreen)
            .video-wrapper
              .video-container
                iframe(src="//www.youtube.com/embed/QlzrcwCb-a0?color=white",frameborder="0",allowfullscreen)
            .video-wrapper
              .video-container
                iframe(src="//www.youtube.com/embed/XBjH1GsKtmw?color=white",frameborder="0",allowfullscreen)
            .video-wrapper
              .video-container
                iframe(src="//www.youtube.com/embed/b3xzsYcxYVs?color=white",frameborder="0",allowfullscreen)
            .video-wrapper
              .video-container
                iframe(src="//www.youtube.com/embed/-svlyFYGIyI?color=white",frameborder="0",allowfullscreen)
            .video-wrapper
              .video-container
                iframe(src="//www.youtube.com/embed/kcEYMNGO1pk?color=white",frameborder="0",allowfullscreen)
      section.guide-section
        header.section-header
          h2.product-title Reports
        .section-main
          p.full See how useful our reports are and the potential to help grow your business quickly and save you time and money.
          .flexed-grid
            .video-wrapper
              .video-container
                iframe(src="//www.youtube.com/embed/PnJ1pBMq_aw?color=white",frameborder="0",allowfullscreen)
            .video-wrapper
              .video-container
                iframe(src="//www.youtube.com/embed/OFmsadaejlM?color=white",frameborder="0",allowfullscreen)
            .video-wrapper
              .video-container
                iframe(src="//www.youtube.com/embed/PLOLZ-r1-Ts?color=white",frameborder="0",allowfullscreen)
            .video-wrapper
              .video-container
                iframe(src="//www.youtube.com/embed/C9Z8-3K2ous?color=white",frameborder="0",allowfullscreen)
            .video-wrapper
              .video-container
                iframe(src="//www.youtube.com/embed/xJLkoyUPpEk?color=white",frameborder="0",allowfullscreen)
            .video-wrapper
              .video-container
                iframe(src="//www.youtube.com/embed/fWMmrIar8yY?color=white",frameborder="0",allowfullscreen)
            .video-wrapper
              .video-container
                iframe(src="//www.youtube.com/embed/qrzwbfJHhv4?color=white",frameborder="0",allowfullscreen)
            .video-wrapper
              .video-container
                iframe(src="//www.youtube.com/embed/4y7ItPZwLAQ?color=white",frameborder="0",allowfullscreen)
    include _footer