//- Variables for includes
- pageTitle = "Scheduling Capability | ServiceLineUp.com"
- pageDescription = "Your Scheduling Capability will be improved when you use our software! Available at ServiceLineUp.com."

doctype html
html(lang='en')
  include _head
  body.page
    include _header
    section.guide-main.container
      section.guide-section.hero
        .hero-image
          img(src="/img/scheduling-capability.jpg", alt="Scheduling Capability")
          .image.scheduling
        h1.hero-title Improve Efficiency with Scheduling Software
        p.hero-text As a business owner, you know how important time is-both your customers' and your own. With Service Line Up's scheduling capability, you can automatically schedule appointments, ensuring you keep all appointments and double-booking never happens. Rather than taking calls and manually inputting scheduling information in a separate system, scheduling software allows you to spend your time running your business and performing quality work for your customers.
        p.hero-text Automatic scheduling makes scheduling a simple and efficient process while establishing you as a professional, reliable business. You can quickly view your availability, set up an appointment, and manage your workload in one unified system. Streamline your scheduling process and cut back on paperwork with scheduling software that will optimize your business.
        p.hero-text Read on to learn more about how Service Line Up's scheduling capability works, or <a href="/contact/" class="link">contact us</a> with questions.
      section.guide-section.two-up.product-description.flexed-box
        header.section-header
          h2.product-title Field Service Software
        .section-main.flexed-middle
          p Electrical, Plumbing, HVAC, Landscaping, Pet Care, and Pool Service
        footer
          .center
            a.btn-primary.icon-right(href="/products/field-service-software/") Learn More
      section.guide-section.two-up.product-description.flexed-box
        header.section-header
          h2.product-title Cleaning Software
        .section-main.flexed-middle
          p House Cleaning, Janitorial, Window Cleaning, and Maid Service
        footer
          .center
            a.btn-primary.icon-right(href="/products/cleaning-software/") Learn More
      section.guide-section
        header.section-header
          h2.section-title Features
        p.full By pressing the Compact Mode button, you can easily see who is available by looking for the green areas. This really comes in handy when a customer calls and is wondering what days and times you have available. This feature alone will save you time and money in the long run.
        p.full To schedule an existing customer, start by typing their first or last name or even their phone number, and our smart search will quickly find your customer. Once found, press the Search button and click on the green available area of the person you want to send to the job that has availability. It will automatically enter them into the appointment, using the most likely duration that the customer has used in the past, so all you have to do is ensure the time is correct, add any other people to the job and save it. Simple as that.
      section.guide-section.flexed-grid.gallery
        .screenshot.three-up.flexed-box
          h3.flexed-middle Step 1—Search For Your Customer
          a.cboxElement(href="/img/search-for-your-customer.jpg", title="Step 1—Search For Your Customer")
            img(src="/img/search-for-your-customer-thumb.jpg", alt="Service Line Up Scheduling Feature")
        .screenshot.three-up.flexed-box
          h3.flexed-middle Step 2—Find the Available Day and Time
          a.cboxElement(href="/img/find-the-available-day-and-time.jpg", title="Step 2—Find the Available Day and Time")
            img(src="/img/find-the-available-day-and-time-thumb.jpg", alt="Service Line Up Scheduling Feature")
        .screenshot.three-up.flexed-box
          h3.flexed-middle Step 3—Create Appointment
          a.cboxElement(href="/img/create-appointment.jpg", title="Step 3—Create Appointment")
            img(src="/img/create-appointment-thumb.jpg", alt="Service Line Up Scheduling Feature")
      section.guide-section
        .center
          a.one-up.cboxElement.video(href="http://www.youtube.com/embed/HNPwx2rx6KY?color=white&rel=0&autoplay=1&wmode=transparent",frameborder="0",allowfullscreen)
            img(src="/img/find-the-available-day-and-time.jpg", alt="Service Line Up Scheduling Feature")
      section.guide-section.tagline-section.center
        a.btn-primary.icon-right(href="products/") Learn more
    include _footer
