//- Variables for includes
- pageTitle = "Scheduling Capability | Service Line Up"
- pageDescription = "Easily do scheduling with our smart scheduler. See what days and times you have available and schedule customers quickly and easily."

doctype html
html(lang='en')
  include _head
  body.page
    include _header
    section.guide-main.container
      section.guide-section.hero
        .hero-image
          img(src="/img/scheduling-capability.jpg", alt="Scheduling Capability")
          .image.scheduling
        h1.hero-title Improve Efficiency with Scheduling Software
        p.hero-text The scheduling page is one of Service Line Up’s most powerful resources. This is the page that you come to when you want to schedule a customer, see your availability for the coming weeks, or to get an idea of the amount of work you have.
      section.guide-section
        header.section-header
          h2.section-title Features
        p.full By pressing the Compact Mode button, you can easily see who is available by looking for the green areas. This really comes in handy when a customer calls and is wondering what days and times you have available. This feature alone will save you time and money in the long run.
        p.full To schedule an existing customer, start by typing their first or last name or even their phone number, and our smart search will quickly find your customer. Once found, press the Search button and click on the green available area of the person you want to send to the job that has availability. It will automatically enter them into the appointment, using the most likely duration that the customer has used in the past, so all you have to do is ensure the time is correct, add any other people to the job and save it. Simple as that.
      section.guide-section.flexed-grid.gallery
        .screenshot.three-up.flexed-box
          h3.flexed-middle Step 1—Search For Your Customer
          a.cboxElement(href="/img/search-for-your-customer.jpg", title="Step 1—Search For Your Customer")
            img(src="/img/search-for-your-customer-thumb.jpg", alt="Service Line Up Scheduling Feature")
        .screenshot.three-up.flexed-box
          h3.flexed-middle Step 2—Find the Available Day and Time
          a.cboxElement(href="/img/find-the-available-day-and-time.jpg", title="Step 2—Find the Available Day and Time")
            img(src="/img/find-the-available-day-and-time-thumb.jpg", alt="Service Line Up Scheduling Feature")
        .screenshot.three-up.flexed-box
          h3.flexed-middle Step 3—Create Appointment
          a.cboxElement(href="/img/create-appointment.jpg", title="Step 3—Create Appointment")
            img(src="/img/create-appointment-thumb.jpg", alt="Service Line Up Scheduling Feature")
      section.guide-section
        .center
          a.one-up.cboxElement.video(href="http://www.youtube.com/embed/HNPwx2rx6KY?color=white&rel=0&autoplay=1&wmode=transparent",frameborder="0",allowfullscreen)
            img(src="/img/find-the-available-day-and-time.jpg", alt="Service Line Up Scheduling Feature")
      section.guide-section.tagline-section.center
        a.btn-primary.icon-right(href="products/") Learn more
    include _footer
