//- Variables for includes
- pageTitle = "Scheduling Capability | Service Line Up"
- pageDescription = "Easily do scheduling with our smart scheduler. See what days and times you have available and schedule customers quickly and easily."

doctype html
html(lang='en')
  include _head
  body.page
    include _header
    section.guide-main.container
      section.guide-section
        h1.hero-title Scheduling Capability
    include _footer