//- Variables for includes
- pageTitle = "Privacy Policy | Service Line Up"

doctype html
html(lang='en')
  include _head
  body.page
    include _header
    section.guide-main.container
      section.guide-section.one-up
        h1.hero-title Sitemap

        ul
          li
            a(href="/" class="link") Home
          li
            a(href="/privacy/" class="link") Privacy Policy
          li
            a(href="/terms/" class="link") Terms of Service
          li
            a(href="/faq/" class="link") FAQ
          li
            a(href="/press/" class="link") Blog
          li
            a(href="/Login.aspx" class="link") Log In
          li
            a(href="/products/" class="link") Products
            ul
              li
                a(href="/products/cleaning-software" class="link") Cleaning Software
              li
                a(href="/products/electical-software" class="link") Electrical Software
              li
                a(href="/products/plumbing-software" class="link") Plumbing Software
              li
                a(href="/products/landscaping-software" class="link") Landscaping Software
              li
                a(href="/products/pet-care-software" class="link") Pet Care Software
              li
                a(href="/products/hvac-software" class="link") HVAC Software
              li
                a(href="/products/pool-service-software" class="link") Pool Service Software
              li
                a(href="/products/field-service-software" class="link") Field Service Software
          li
            a(href="/" class="link") Features
            ul
              li
                a(href="/features/credit-card-processing" class="link") Credit Card Processing
              li
                a(href="/features/scheduling-capability" class="link") Improve Efficiency with Scheduling Software
              li
                a(href="/features/customer-management" class="link") Customer Relationship Management
          li
            a(href="/press/" class="link") Business Management Software
            ul
              li
                a(href="/press/author/ron" class="link") Author Archives - Ron
              li
                a(href="/press/how-automated-scheduling-enhances-your-business" class="link") How Automated Scheduling Enhances Your Business
              li
                a(href="/press/how-our-scheduling-program-helps-scale-businesses" class="link") How Our Scheduling Program Helps Scale Businesses
              li
                a(href="/press/want-a-more-efficient-company-make-your-software-accessible-on-mobile-devices" class="link") Make Your Software Accessible On Mobile Devices
          li
            a(href="/contact/" class="link") Contact



     include _footer