navItems = {'icon-home':'Home', 'icon-products':'Products', 'icon-question':'FAQ', 'icon-contact':'Contact'};
colorItems = ['bg-dark', 'bg-light', 'bg-lightest', 'text-dark', 'text-light', 'brand-primary', 'brand-secondary', 'brand-loud', 'brand-accent'];
iconItems = {'icon-menu':'menu', 'icon-home':'home', 'icon-products':'products', 'icon-question':'question', 'icon-contact':'contact', 'icon-phone':'phone', 'icon-info':'info', 'icon-checkmark':'checkmark', 'icon-enter':'enter','icon-up':'up', 'icon-down':'down', 'icon-left':'left', 'icon-right':'right', 'icon-send':'send','icon-calendar':'calendar','icon-coin':'coin','icon-users':'users','icon-briefcase':'briefcase','icon-stats':'stats','icon-cart':'cart','icon-lock':'lock','icon-cog':'cog','icon-clipboard':'clipboard','icon-mobile':'mobile','icon-broom':'broom','icon-starburst':'starburst'};
pageTitle = "Service Line Up Style Guide"

doctype 5
html(lang='en')
  include _head
  body
    header.guide-header
      .container
        h1 Service Line Up
        a#toggle-all.toggle.btn-default.icon-down.icon(href="#") Toggle Sections
        h2 Style Guide Option 3
        .section-links
          a.nav-link.text(href="#typography") Typography
          a.nav-link.text(href="#colors") Colors
          a.nav-link.text(href="#navigation") Navigation
          a.nav-link.text(href="#buttons") Buttons
          a.nav-link.text(href="#icons") Icons
          a.nav-link.text(href="#forms") Forms
          a.nav-link.text(href="#images") Images
    section.guide-main.container
      include _typography
      include _colors
      include _navigation
      include _buttons
      include _icons
      include _forms
      include _images
    include _footer